<div class="loading" ng-show="loading"></div>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>Points won</th>
        <th>Points lost</th>
        <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data">
      <td>{{item.team.name}}</td>
      <td>{{item.wins}}</td>
      <td>{{item.losses}}</td>
      <td>{{item.points_scored}}</td>
      <td>{{item.points_allowed}}</td>
      <td>{{item.plus_minus}}</td>
    </tr>
  </tbody>
</table>
