<!--Search: <input type="text" ng-model="searchText">
<button ng-click="fetch()">fetch</button>-->
<div class="loading" ng-show="loading"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Monday 18 March</th>
      <th>Team</th>
      <th>Result</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data">
      <td>{{item.start_time}}</td>
      <td>{{item.team_1_score}}</td>
      <td>{{item.team_1_score}} - {{item.team_2_score}}</td>
      <td>{{item.team_2_score}}</td>
    </tr>
  </tbody>
</table>